@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world! #1</h1>

<RazorClassLibrary_500.F1_500.FeatureSet0.Feature_0.Components.Counter />
<RazorClassLibrary_1000.F1_500.FeatureSet0.Feature_0.Components.Counter />
<RazorClassLibrary_2000.F1_500.FeatureSet0.Feature_0.Components.Counter />